In [1]:
#Chargez dans un dataframe pandas le fichiers Indicators.csv
import pandas as pd

df = pd.read_csv('Indicators.csv')
df

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
0,Arab World,ARB,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1960,1.335609e+02
1,Arab World,ARB,Age dependency ratio (% of working-age populat...,SP.POP.DPND,1960,8.779760e+01
2,Arab World,ARB,"Age dependency ratio, old (% of working-age po...",SP.POP.DPND.OL,1960,6.634579e+00
3,Arab World,ARB,"Age dependency ratio, young (% of working-age ...",SP.POP.DPND.YG,1960,8.102333e+01
4,Arab World,ARB,Arms exports (SIPRI trend indicator values),MS.MIL.XPRT.KD,1960,3.000000e+06
...,...,...,...,...,...,...
5656453,Zimbabwe,ZWE,Time required to register property (days),IC.PRP.DURS,2015,3.600000e+01
5656454,Zimbabwe,ZWE,Time required to start a business (days),IC.REG.DURS,2015,9.000000e+01
5656455,Zimbabwe,ZWE,Time to prepare and pay taxes (hours),IC.TAX.DURS,2015,2.420000e+02
5656456,Zimbabwe,ZWE,Time to resolve insolvency (years),IC.ISV.DURS,2015,3.300000e+00
5656457,Zimbabwe,ZWE,Total tax rate (% of commercial profits),IC.TAX.TOTL.CP.ZS,2015,3.280000e+01

In [148]:
#Déterminez le nombre d'enregistrements
len(df)

5656458

In [149]:
#Déterminez le nombre de colonnes
len(df.columns)

6

In [150]:
#Déterminez le nombre de pays (zones géographiques)
len(df['IndicatorName'].unique())

1347

In [151]:
#Déterminez la plage des années traitées par ce jeu de données
L=[df['Year'].min(),df['Year'].max()]
L

[1960, 2015]

In [152]:
#Déterminez la liste des indicateurs et leur nombre
indic=df['IndicatorName'].unique()
print(indic)
print(len(indic))

['Adolescent fertility rate (births per 1,000 women ages 15-19)'
 'Age dependency ratio (% of working-age population)'
 'Age dependency ratio, old (% of working-age population)' ...
 'Fish species, threatened' 'Mammal species, threatened'
 'Plant species (higher), threatened']
1347

In [153]:
#Déterminez la liste des indicateurs et leur nombre
df['Year'].dtype

dtype('int64')

In [154]:
#Quelle données représente la troisième colonne ?
df.columns[3]

'IndicatorCode'

In [155]:
#Combien y a-t-il d'enregistrements pour lesquels la colonnes 'Year' a la valeur 1981 ?
len(df[df['Year']==1981])

84374

In [156]:
#Combien y a-t-il d'enregistrement traitant d'une année comprise entre 1976 et 1980 ?
len(df[(df['Year']>1976) & (df['Year']<1980)])

227279

In [157]:
#Quelle est l'année la plus récente dans ce jeu de données ?
df['Year'].max()

2015

In [158]:
#Combien y a-t-il de valeurs différentes pour la colonnes 'IndicatorName' ?
len(df['IndicatorName'].unique())

1347

In [159]:
#Quels sont les 5 indicateurs les plus représentés dans le jeu de données ?
(df['IndicatorName'].value_counts()).head(5)

IndicatorName
Population, total                           13484
Population growth (annual %)                13442
Urban population (% of total)               13415
Rural population (% of total population)    13415
Urban population                            13374
Name: count, dtype: int64

In [160]:
#Combien de fois est représenté le 5ème indicateurs le plus représenté ?
len(df[df['IndicatorName']=='Urban population'])

13374

In [161]:
#Combien y a-t-il d'enregistrements concernant la France en 1976 ?
len(df[(df['CountryName']=='France') & (df['Year']==1976)])

362

In [162]:
#Combien y a-t-il de valeurs différentes pour 'IndicatorName' concernant la France en 1976 ?
f=df[(df['CountryName']=='France') & (df['Year']==1976)]
len(f['IndicatorName'].unique())

362

In [163]:
#Combien de fois chacun d'eux est-il représenté ?
f['IndicatorName'].value_counts()

IndicatorName
Adjusted net enrolment rate, primary, both sexes (%)             1
Market capitalization of listed domestic companies (% of GDP)    1
Manufacturing, value added (current LCU)                         1
Manufacturing, value added (constant LCU)                        1
Manufacturing, value added (constant 2005 US$)                   1
                                                                ..
Fixed telephone subscriptions                                    1
Final consumption expenditure, etc. (current US$)                1
Final consumption expenditure, etc. (current LCU)                1
Final consumption expenditure, etc. (constant LCU)               1
Urban population growth (annual %)                               1
Name: count, Length: 362, dtype: int64

In [164]:
#Quelle est l'année la plus représentée dans le jeu de données ? 
#Combien de fois y apparait-elle ?
(df['Year'].value_counts()).head(1)

Year
2010    187206
Name: count, dtype: int64

In [ ]:
#Générez un dataframe extrait du dataframe initial 
#restreint aux données relatives aux émissions de CO2
# par habitant en France.
f1=df[(df['CountryName']=='France') & (df['IndicatorName']=='CO2 emissions (metric tons per capita)')]
f1

In [166]:
#Combien ce dataframe contient-il d'enregistrements ?
len(f1)

52

In [4]:
f1['Value'].describe()

count    52.000000
mean      7.010055
std       1.247113
min       5.185043
25%       6.120347
50%       6.618845
75%       7.866798
max       9.666681
Name: Value, dtype: float64

In [167]:
#Donnez les statistiques suivantes sur ces données (moyenne, écart-type, médiane, minimum, maximum)
max=f1['Value'].max()
min=f1['Value'].min()
mean=f1['Value'].mean()
std=f1['Value'].std()
print(max,min)
print(mean,std)

9.66668052611929 5.18504342392799
7.010054607778613 1.2471133088641029

In [168]:
#En quelle année a-t-on pu observer la plus
#forte valeur d'émission de CO2 par habitant en France ?
df['Year'][df['Value']==max]

526625    1973
Name: Year, dtype: int64

In [ ]:
#Générez un dataframe restreint aux données de la France, 
#extrait du dataframe initial et ayant les caractéristiques suivantes :
#Le dataframe contient trois colonnes nommées respectivement Année, CO2 et PIB
#Ce dataframe possède un enregistrement par année
#Pour chaque enregistrement les colonnes CO2 et PIB contiennent les valeurs 
#respectivement associées aux indicateurs 'CO2 emission per capita' et
# 'GPB per capita' pour l'année correspondante.

#Récupère le dataframe de la france avec ces 2 indicateurs
dfc=df.copy()
df_france=df[(dfc['CountryName']=='France') & 
             ((dfc['IndicatorName']=='GDP per capita (current US$)')|
              (dfc['IndicatorName']=='CO2 emissions (metric tons per capita)'))]

#Suppression des colonnes qui ne m'interrent pas
df_france.drop(columns=['CountryName','CountryCode','IndicatorCode'], inplace=True)

#Construction du dataframe de la france
df_france1 = df_france.pivot(index='Year', columns='IndicatorName', values='Value').reset_index()
df_france1.columns = ['Année', 'CO2', 'PIB'] #modification des noms des colonnes
df_france1

In [233]:
#Faites un travail équivalent pour l'Europe et l'Afrique

#Pour l'Europe
dfe=df.copy()
df_euro=dfe[(dfe['CountryName'].str.contains('Euro')) & 
             ((dfe['IndicatorName']=='GDP per capita (current US$)')|
              (dfe['IndicatorName']=='CO2 emissions (metric tons per capita)'))]

#Suppression des colonnes qui ne m'interrent pas
df_euro.drop(columns=['CountryName','CountryCode','IndicatorCode'], inplace=True)

#Construction du dataframe de la france
df_euro1 = df_euro.pivot_table(index='Year', columns='IndicatorName', values='Value', aggfunc='first').reset_index()
df_euro1 = df_euro1.rename(columns={"Year": "Année", "CO2 emissions (metric tons per capita)" : "CO2", "GDP per capita (current US$)" : "PIB"} )#modification des noms des colonnes
df_euro
df_euro1

C:\Users\gadji\AppData\Local\Temp\ipykernel_7160\1967211951.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_euro.drop(columns=['CountryName','CountryCode','IndicatorCode'], inplace=True)

IndicatorName  Année        CO2           PIB
0               1960   5.114244    924.571393
1               1961   5.340755   1008.478502
2               1962   5.669339   1108.797405
3               1963   6.076289   1232.264642
4               1964   6.466862   1358.085777
5               1965   6.617132   1468.742240
6               1966   6.778028   1588.518063
7               1967   6.986405   1713.554594
8               1968   7.395878   1824.998270
9               1969   7.890809   2002.782135
10              1970   8.167374   2232.014240
11              1971   8.372435   2515.941816
12              1972   8.679510   3019.343670
13              1973   8.974770   3894.622964
14              1974   9.190745   4390.996964
15              1975   9.719036   5065.266772
16              1976  10.204871   5261.495448
17              1977  10.538141   5959.851010
18              1978  11.005578   7266.047948
19              1979  11.056442   8767.452303
20              1980  11.285238   9781.213803
21              1981  10.535178   8468.511073
22              1982  10.745968   8177.498585
23              1983  10.790563   7962.052210
24              1984  10.724750   7624.803028
25              1985  10.868208   7818.682325
26              1986  11.014901  10945.596939
27              1987  11.273873  13501.074058
28              1988  10.848599  14797.912495
29              1989  10.527934  15049.652817
30              1990   8.847908   2297.201542
31              1991   8.240976   2186.948885
32              1992   7.850811   2347.355796
33              1993   7.792638   2473.687795
34              1994   7.328596   2807.150833
35              1995   7.552545   3467.428880
36              1996   7.715610   3722.562723
37              1997   7.512153   3715.757079
38              1998   7.097997   4087.171782
39              1999   6.699696   3963.396873
40              2000   6.603342   3943.594923
41              2001   6.812883   4342.007537
42              2002   6.708048   4920.173579
43              2003   6.945633   5937.824613
44              2004   6.905416   7141.722140
45              2005   6.970133   8317.199456
46              2006   7.233169   9434.649968
47              2007   7.269872  11943.241333
48              2008   7.152044  14449.879827
49              2009   6.521375  12161.461665
50              2010   6.839720  12546.047643
51              2011   6.911131  13869.247685
52              2012        NaN  12981.647066
53              2013        NaN  13685.593443
54              2014        NaN  14086.521810

In [235]:
#Pour l'Afrique
dfa=df.copy()
df_africa=dfa[(dfa['CountryName'].str.contains('Africa')) & 
             ((dfa['IndicatorName']=='GDP per capita (current US$)')|
              (dfa['IndicatorName']=='CO2 emissions (metric tons per capita)'))]

#Suppression des colonnes qui ne m'interrent pas
df_africa.drop(columns=['CountryName','CountryCode','IndicatorCode'], inplace=True)

#Construction du dataframe de la france
df_africa1 = df_africa.pivot_table(index='Year', columns='IndicatorName', values='Value', aggfunc='first').reset_index()

df_africa1 = df_africa1.rename(columns={"Year": "Année", "CO2 emissions (metric tons per capita)" : "CO2", "GDP per capita (current US$)" : "PIB"} )#modification des noms des colonnes
df_africa1

C:\Users\gadji\AppData\Local\Temp\ipykernel_7160\3151343959.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_africa.drop(columns=['CountryName','CountryCode','IndicatorCode'], inplace=True)

IndicatorName  Année       CO2          PIB
0               1960  0.969101   129.663075
1               1961  0.991750   131.428758
2               1962  1.062634   139.202671
3               1963  1.186992   156.030583
4               1964  1.344016   148.261231
5               1965  1.555255   161.289532
6               1966  1.722232   169.920838
7               1967  1.783211   163.537829
8               1968  2.070382   242.862837
9               1969  2.273612   263.674092
10              1970  2.337197   286.168129
11              1971  2.554998   326.181857
12              1972  2.671693   386.708819
13              1973  3.075880   507.417501
14              1974  3.034209   899.421705
15              1975  2.909790   960.451303
16              1976  3.337140  1164.873780
17              1977  3.411681  1309.662651
18              1978  3.487589  1351.264020
19              1979  3.555716  1712.255850
20              1980  3.492804  2148.940463
21              1981  3.283801  2150.118329
22              1982  3.211454  2068.766212
23              1983  3.315536  2031.818309
24              1984  3.436936  1995.153363
25              1985  3.523710  1959.474732
26              1986  3.640591  1939.171410
27              1987  3.579598  1739.930143
28              1988  3.712759  1676.474231
29              1989  3.731408  1682.492763
30              1990  3.743830  2127.815600
31              1991  3.860460  2076.281439
32              1992  4.054215  2222.018996
33              1993  4.297786  2188.099449
34              1994  4.411878  2229.255991
35              1995  4.198480  2472.284419
36              1996  4.104479  2743.329343
37              1997  3.895203  2788.218608
38              1998  4.188883  2655.913504
39              1999  4.382513  2789.676715
40              2000  4.675951  3051.515231
41              2001  4.627212  3004.856442
42              2002  4.597701  2937.435405
43              2003  4.833554  3246.676516
44              2004  5.149239  3702.931263
45              2005  5.292020  4375.474683
46              2006  5.471586  5018.790535
47              2007  5.381824  5838.682380
48              2008  5.614544  7140.130531
49              2009  5.787677  6233.319656
50              2010  5.987226  7108.704200
51              2011  5.962865  8346.396627
52              2012       NaN  8815.428881
53              2013       NaN  8702.827365
54              2014       NaN  8377.016821

In [234]:
#Donnez le coefficient de corrélation 
#entre CO2 et PIB pour chacun de ces deux dataframes.
#Pour l'Europe
cor_euro=df_euro1['CO2'].corr(df_euro1['PIB'])
print("Pour l'Europe,le coefficient de corrélation entre CO2 et PIB est : "+str(cor_euro)+ ".")

#Pour l'Afrique
cor_afr=df_africa1['CO2'].corr(df_africa1['PIB'])
print("Pour l'Afrique, le coefficient de corrélation entre CO2 et PIB est : "+str(cor_afr)+ ".")

Pour l'Europe,le coefficient de corrélation entre CO2 et PIB est : 0.4488924940492748.
Pour l'Afrique, le coefficient de corrélation entre CO2 et PIB est : 0.8957904587169228.

##### Commentaire:

En observant ces coefficients de corrélation et leur dataset, on voit que plus le PIB est fort, plus l'émission de CO2 est grande.

En comparant les deux corrélations, on constate que l'Europe émet beaucoup plus de CO2 que l'Afrique.

En conclusion, les zones les plus développées polluent beaucoup, en conséquence on ne peut pas dissocier l'emmission de CO2 et du développement.

In [232]:
#Pour chacune de ces deux zones, donnez la moyenne calculée
# sur l'ensemble des années disponibles du rapport CO2/PIB
#Pour l'Europe

df_euro1["CO2/PIB"]=df_euro1["CO2"] / df_euro1["PIB"]
print("Pour l'Europe,la moyenne calculée sur l'ensemble des années disponibles du rapport CO2/PIB est : "+str(df_euro1["CO2/PIB"].mean())+".")

#Pour l'Afrique

df_africa1["CO2/PIB"]=df_africa1['CO2']/df_africa1['PIB']
print("Pour l'Afrique,la moyenne calculée sur l'ensemble des années disponibles du rapport CO2/PIB est : "+str(df_africa1["CO2/PIB"].mean())+".")

Pour l'Europe,la moyenne calculée sur l'ensemble des années disponibles du rapport CO2/PIB est : 0.0022640463640594423.
Pour l'Afrique,la moyenne calculée sur l'ensemble des années disponibles du rapport CO2/PIB est : 0.0035003512165135025.

##### Commentaire:

L'Europe émet une quantité faible de dioxyde de carbone per unité de PIB par habitant. Ce qui signifie qu'il y'a une avancée dans les politiques environnementales et une transition vers des énergies plus propres. 

Par contre la quantité moyenne de CO2 émise par un africain est plus élevée. Ce qui pourrait être la conséquence d'une utilisation intensive d'énergies fossiles et que le développement économique ne prenne pas en compte l'aspect écologique.

Finalement, il existe une nette disparité entre les deux zones due à des différences dans les politiques environnementales, les structures économiques et les niveaux de développement.