In [54]:
#Chargez dans un dataframe pandas le fichiers Indicators.csv
import pandas as pd

df = pd.read_csv('Indicators.csv')
df

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
0,Arab World,ARB,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1960,1.335609e+02
1,Arab World,ARB,Age dependency ratio (% of working-age populat...,SP.POP.DPND,1960,8.779760e+01
2,Arab World,ARB,"Age dependency ratio, old (% of working-age po...",SP.POP.DPND.OL,1960,6.634579e+00
3,Arab World,ARB,"Age dependency ratio, young (% of working-age ...",SP.POP.DPND.YG,1960,8.102333e+01
4,Arab World,ARB,Arms exports (SIPRI trend indicator values),MS.MIL.XPRT.KD,1960,3.000000e+06
...,...,...,...,...,...,...
5656453,Zimbabwe,ZWE,Time required to register property (days),IC.PRP.DURS,2015,3.600000e+01
5656454,Zimbabwe,ZWE,Time required to start a business (days),IC.REG.DURS,2015,9.000000e+01
5656455,Zimbabwe,ZWE,Time to prepare and pay taxes (hours),IC.TAX.DURS,2015,2.420000e+02
5656456,Zimbabwe,ZWE,Time to resolve insolvency (years),IC.ISV.DURS,2015,3.300000e+00
5656457,Zimbabwe,ZWE,Total tax rate (% of commercial profits),IC.TAX.TOTL.CP.ZS,2015,3.280000e+01

In [55]:
#Déterminez le nombre d'enregistrements
len(df)

5656458

In [56]:
#Déterminez le nombre de colonnes
len(df.columns)

6

In [57]:
#Déterminez le nombre de pays (zones géographiques)
len(df['IndicatorName'].unique())

1347

In [58]:
#Déterminez la plage des années traitées par ce jeu de données
L=[df['Year'].min(),df['Year'].max()]
L

[1960, 2015]

In [59]:
#Déterminez la liste des indicateurs et leur nombre
indic=df['IndicatorName'].unique()
print(indic)
print(len(indic))

['Adolescent fertility rate (births per 1,000 women ages 15-19)'
 'Age dependency ratio (% of working-age population)'
 'Age dependency ratio, old (% of working-age population)' ...
 'Fish species, threatened' 'Mammal species, threatened'
 'Plant species (higher), threatened']
1347

In [60]:
#Déterminez la liste des indicateurs et leur nombre
df['Year'].dtype

dtype('int64')

In [61]:
#Quelle données représente la troisième colonne ?
df.columns[3]

'IndicatorCode'

In [62]:
#Combien y a-t-il d'enregistrements pour lesquels la colonnes 'Year' a la valeur 1981 ?
len(df[df['Year']==1981])

84374

In [63]:
#Combien y a-t-il d'enregistrement traitant d'une année comprise entre 1976 et 1980 ?
len(df[(df['Year']>1976) & (df['Year']<1980)])

227279

In [64]:
#Quelle est l'année la plus récente dans ce jeu de données ?
df['Year'].max()

2015

In [65]:
#Combien y a-t-il de valeurs différentes pour la colonnes 'IndicatorName' ?
len(df['IndicatorName'].unique())

1347

In [66]:
#Quels sont les 5 indicateurs les plus représentés dans le jeu de données ?
(df['IndicatorName'].value_counts()).head(5)

IndicatorName
Population, total                           13484
Population growth (annual %)                13442
Urban population (% of total)               13415
Rural population (% of total population)    13415
Urban population                            13374
Name: count, dtype: int64

In [67]:
#Combien de fois est représenté le 5ème indicateurs le plus représenté ?
len(df[df['IndicatorName']=='Urban population'])

13374

In [68]:
#Combien y a-t-il d'enregistrements concernant la France en 1976 ?
len(df[(df['CountryName']=='France') & (df['Year']==1976)])

362

In [69]:
#Combien y a-t-il de valeurs différentes pour 'IndicatorName' concernant la France en 1976 ?
f=df[(df['CountryName']=='France') & (df['Year']==1976)]
len(f['IndicatorName'].unique())

362

In [70]:
#Combien de fois chacun d'eux est-il représenté ?
f['IndicatorName'].value_counts()

IndicatorName
Adjusted net enrolment rate, primary, both sexes (%)             1
Market capitalization of listed domestic companies (% of GDP)    1
Manufacturing, value added (current LCU)                         1
Manufacturing, value added (constant LCU)                        1
Manufacturing, value added (constant 2005 US$)                   1
                                                                ..
Fixed telephone subscriptions                                    1
Final consumption expenditure, etc. (current US$)                1
Final consumption expenditure, etc. (current LCU)                1
Final consumption expenditure, etc. (constant LCU)               1
Urban population growth (annual %)                               1
Name: count, Length: 362, dtype: int64

In [71]:
#Quelle est l'année la plus représentée dans le jeu de données ? 
#Combien de fois y apparait-elle ?
(df['Year'].value_counts()).head(1)

Year
2010    187206
Name: count, dtype: int64

In [72]:
#Générez un dataframe extrait du dataframe initial 
#restreint aux données relatives aux émissions de CO2
# par habitant en France.
f1=df[(df['CountryName']=='France') & (df['IndicatorName']=='CO2 emissions (metric tons per capita)')]
f1

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
9579,France,FRA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1960,5.793508
34236,France,FRA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1961,5.927130
61648,France,FRA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1962,6.207578
90090,France,FRA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1963,6.844150
118822,France,FRA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1964,6.982957
149254,France,FRA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1965,7.033702
180978,France,FRA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1966,6.874765
212808,France,FRA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1967,7.306422
245426,France,FRA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1968,7.501194
278185,France,FRA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1969,8.002979
323298,France,FRA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1970,8.436868
387856,France,FRA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1971,8.811560
456806,France,FRA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1972,9.077342
526625,France,FRA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1973,9.666681
596424,France,FRA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1974,9.262231
667457,France,FRA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1975,8.237753
740246,France,FRA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1976,9.270049
814568,France,FRA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1977,8.780464
890019,France,FRA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1978,9.206144
965839,France,FRA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1979,9.598218
1044132,France,FRA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1980,9.131854
1127206,France,FRA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1981,8.180155
1211791,France,FRA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1982,7.821405
1296969,France,FRA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1983,7.525488
1382598,France,FRA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1984,7.177923
1469101,France,FRA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1985,7.058284
1556713,France,FRA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1986,6.749453
1645238,France,FRA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1987,6.567066
1734410,France,FRA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1988,6.435520
1825390,France,FRA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1989,6.714181
1928131,France,FRA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1990,6.419668
2045196,France,FRA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1991,6.670624
2162741,France,FRA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1992,6.216013
2285589,France,FRA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1993,6.088322
2410414,France,FRA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1994,5.698799
2539511,France,FRA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1995,5.863379
2674449,France,FRA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1996,6.280524
2809885,France,FRA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1997,5.861895
2946672,France,FRA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1998,6.344928
3085547,France,FRA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1999,6.173260
3233057,France,FRA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2000,5.976826
3385758,France,FRA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2001,6.212048
3537973,France,FRA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2002,6.131022
3692294,France,FRA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2003,6.206665
3847343,France,FRA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2004,6.194114
4014836,France,FRA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2005,6.181610
4193780,France,FRA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2006,5.995894
4372463,France,FRA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2007,5.856547
4552798,France,FRA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2008,5.774522
4732156,France,FRA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2009,5.511405
4914259,France,FRA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2010,5.496707
5096858,France,FRA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2011,5.185043

In [73]:
#Combien ce dataframe contient-il d'enregistrements ?
len(f1)

52

In [74]:
#Donnez les statistiques suivantes sur ces données (moyenne, écart-type, médiane, minimum, maximum)
max=f1['Value'].max()
min=f1['Value'].min()
mean=f1['Value'].mean()
std=f1['Value'].std()
print(max,min)
print(mean,std)

9.66668052611929 5.18504342392799
7.010054607778613 1.2471133088641029

In [75]:
#En quelle année a-t-on pu observer la plus
#forte valeur d'émission de CO2 par habitant en France ?
df['Year'][df['Value']==max]

526625    1973
Name: Year, dtype: int64

In [76]:
#Générez un dataframe restreint aux données de la France, 
#extrait du dataframe initial et ayant les caractéristiques suivantes :
#Le dataframe contient trois colonnes nommées respectivement Année, CO2 et PIB
#Ce dataframe possède un enregistrement par année
#Pour chaque enregistrement les colonnes CO2 et PIB contiennent les valeurs 
#respectivement associées aux indicateurs 'CO2 emission per capita' et
# 'GPB per capita' pour l'année correspondante.

df_france=df[df['IndicatorName']=='France'] #Récupére le dataframe telle que IndicatorName est la France
#df_france.columns=['Année','CO2','PIB']

df_france

Empty DataFrame
Columns: [CountryName, CountryCode, IndicatorName, IndicatorCode, Year, Value]
Index: []